:root {
    font-size: var(--font-size, 0.35px);
    --scrollbar-width: 0.5rem;

    --white: #ffffff;
    --black: #000000;
    --orange: #ef4c29;
    --dark-orange: #c43e24;
    --red: #e22323;
    --dark-red: #a61b1b;
    --green: #008259;
    --dark-green: #005f3d;
    --light-gray: #e0e0e0;
    --gray: #b0b0b0;
    --dark-gray: #707070;
    --darker-gray: #202020;

    --text-small: 30rem;
    --text-medium: 40rem;
    --text-large: 50rem;

    --text-light: 300;
    --text-normal: 400;
    --text-bold: 700;
}